---
import Layout from "../Components/Layout.astro";
import FileComponent from "../Components/FileComponent.astro";
---

<Layout>
  <h1>Astro Test</h1>
  <FileComponent filePath="/tmp/astroAbout.txt" />
  <a href="/">Goto Home</a>
</Layout>
